@model WebApplication1.Models.Components.Card

<style>
    .card-title {
        color: red;
        text-align:center;
    }
    .card-img-top {
        width: 180px;
        align-items:center;
        margin-left:auto;
        margin-right:auto;
        padding: 1.5rem;
    }
   /* .col {
        font-family:'Bodoni MT';
        padding:20px;
        color:brown;
    }*/
    .card-wrapper {
        color:blue;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding: 10px 10px 10px 10px;
    }
    


    
</style>


<div class="">
    <div class="card h-100">
        <img src="@Model.ImgSrc" class="card-img-top" alt="@Model.ImgAlt">
        <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
            <p class="card-text">@Model.Description</p>
        </div>
        <div class="card-footer">
            <small class="text-body-secondary">@Model.FooterText</small>
        </div>
    </div>
</div>